body {
    width: 450px;
    background-color: #F1E8B4;
}

.categories
{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,1fr);
    font-size: 15px;
}

.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title
{
    font-size: 22px;
    font-weight: bold;
    color: rgb(138, 64, 16);
}

.buttons
{
    display: flex;
    gap: 25px;
}

.button
{
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(162, 187, 191);


}

.footer
{
    text-align: center;
}